[Unit]
Description=The icmp controlled firewall
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/share/icmpfw/icmpfw -c /usr/local/share/icmpfw/config.yaml
ExecStop=/bin/kill -HUP $MAINPID
RestartSec=3s
Restart=on-failure

[Install]
WantedBy=multi-user.target